.container {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0.8;
}

.container:hover {
   opacity: 1;
}

.selected {
   opacity: 1;
   filter: var(--filter-tertiary);
}

.icone {
   width: 20px;
   filter: var(--filter-primary);
}

.icone:hover {
   filter: var(--filter-tertiary);
}
