.contentContainer {
   align-items: center;
   gap: 50px;
}

.paragraph {
   width: 80%;
   font-size: x-large;
   text-align: justify;
}

.picture {
   border-radius: 5px;
}

@media screen and (max-width: 1400px) {
   .paragraph {
      width: 90%;
      font-size: large;
   }
}

@media screen and (max-width: 950px) {
   .paragraph {
      width: 100%;
      font-size: medium;
   }
   .contentContainer {
      gap: 30px;
   }
}
