.smiley {
   display: inline-block;
   color: rgba(var(--text-primary));
   letter-spacing: 10px;
   filter: drop-shadow(0 1px 3px);
}

.layers {
   position: relative;
}

.layers::before,
.layers::after {
   content: attr(data-text);
   position: absolute;
   width: 110%;
   z-index: -1;
}

.layers::before {
   top: 10px;
   left: 15px;
   color: rgba(var(--text-tertiary));
}

.layers::after {
   top: 5px;
   left: -10px;
   color: rgba(var(--text-secondary));
}

@keyframes movement {
   0% {
      top: 0px;
      left: -20px;
   }

   15% {
      top: 10px;
      left: 10px;
   }

   60% {
      top: 5px;
      left: -10px;
   }

   75% {
      top: -5px;
      left: 20px;
   }

   100% {
      top: 10px;
      left: 5px;
   }
}

@keyframes opacity {
   0% {
      opacity: 0.1;
   }

   5% {
      opacity: 0.7;
   }

   30% {
      opacity: 0.4;
   }

   45% {
      opacity: 0.6;
   }

   76% {
      opacity: 0.4;
   }

   90% {
      opacity: 0.8;
   }

   1%,
   7%,
   33%,
   47%,
   78%,
   93% {
      opacity: 0;
   }
}

@keyframes font {
   0% {
      font-weight: 100;
      color: rgba(var(--text-tertiary));
      filter: blur(3px);
   }

   20% {
      font-weight: 500;
      color: rgba(var(--text-primary));
      filter: blur(0);
   }

   50% {
      font-weight: 300;
      color: rgba(var(--text-secondary));
      filter: blur(2px);
   }

   60% {
      font-weight: 700;
      color: rgba(var(--text-primary));
      filter: blur(0);
   }

   90% {
      font-weight: 500;
      color: rgba(var(--text-tertiary));
      filter: blur(6px);
   }
}

.glitch::before {
   animation: opacity 5s step-end infinite, font 8s step-end infinite,
      movement 10s step-end infinite;
}

.glitch::after {
   animation: opacity 5s step-end infinite, font 7s step-end infinite,
      movement 8s step-end infinite;
}
