.container {
   display: flex;
   align-items: center;
}

.tagsContainer {
   padding: 0 10px;
   display: flex;
   align-items: center;
   gap: 10px;
}

.icone {
   width: 20px;
   height: 30px;
   filter: var(--filter-primary);
}

.icone:hover {
   filter: var(--filter-tertiary);
}
