.contentContainer {
   align-items: center;
   gap: 50px;
}

.paragraph {
   width: 80%;
   font-size: x-large;
   text-align: justify;
}

.form {
   width: 500px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.labelContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}

.label {
   font-size: large;
   align-self: self-start;
}

.input {
   width: 100%;
   background: rgba(var(--input));
   border: none;
   outline: none;
   border-radius: 5px;
}

.inputText {
   padding-left: 10px;
   height: 30px;
}

.inputTextArea {
   min-height: 200px;
   padding: 10px;
}

.button {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50px;
   border: none;
   border-radius: 10px;
   padding: 10px;
   background-color: rgba(var(--text-tertiary));
}

.button img {
   width: 40px;
   filter: var(--filter-primary);
   transition-duration: 100ms;
}

.button:hover img {
   filter: initial;
   transition-duration: 400ms;
}

.submitButton {
   margin-top: 10px;
   padding: 10px 13px 10px 10px;
}

.waitingRoomContainer {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.quoteContainer {
   width: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.quote {
   border-left: solid 2px rgba(var(--text-tertiary));
   padding-left: 20px;
}

.author {
   text-align: end;
   font-style: italic;
   color: rgba(var(--text-tertiary));
}

.timer {
   color: rgba(var(--text-tertiary));
}

@media screen and (max-width: 1400px) {
   .paragraph {
      font-size: large;
      width: 90%;
   }
}

@media screen and (max-width: 950px) {
   .paragraph {
      width: 100%;
      font-size: medium;
   }
   .label {
      font-size: medium;
   }
   .contentContainer {
      gap: 30px;
   }
}

@media screen and (max-width: 750px) {
   .quoteContainer {
      width: 100%;
   }
   .quote {
      padding-left: 10px;
   }
}

@media screen and (max-width: 700px) {
   .form {
      width: 90%;
   }
}

@media screen and (max-width: 500px) {
   .form {
      width: 100%;
   }
}
