.container {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.title {
   font-size: 7rem;
   text-transform: uppercase;
}

.contentContainer {
   border-top: solid 1px rgba(var(--text-secondary), 0.8);
   width: 100%;
   padding: 50px 20px 20px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.contentContainer h2 {
   width: 80%;
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

.inputContainer {
   display: flex;
   justify-content: space-between;
   gap: 10px;
}

.labelContainer {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.label {
   font-size: 1.1rem;
}

.input {
   width: 500px;
   background: rgba(var(--input));
   border: none;
   outline: none;
}

.inputText {
   padding-left: 10px;
   height: 30px;
}

.inputTextArea {
   min-height: 200px;
   padding: 10px;
}

.submitButton {
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   width: 50px;
   border: none;
   border-radius: 10px;
   padding: 10px 13px 10px 10px;
   background-color: rgba(var(--text-tertiary));
}

.submitButton img {
   width: 40px;
   filter: var(--filter-primary);
   transition-duration: 100ms;
}

.submitButton:hover img {
   filter: initial;
   transition-duration: 400ms;
}
