@keyframes slide {
   from {
      transform: translateX(0);
   }
   to {
      transform: translateX(-100%);
   }
}

@keyframes greyScale {
   0%,
   10% {
      filter: grayscale(100%);
   }
   50% {
      filter: grayscale(0%);
   }
   90%,
   100% {
      filter: grayscale(100%);
   }
}

.container {
   display: flex;
   height: 100px;
   overflow: hidden;
   border-radius: 25px;
   mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 30%,
      hsl(0 0% 0% / 1) 70%,
      hsl(0 0% 0% / 0)
   );
}

.logosContainer {
   padding: 0 10px;
   display: flex;
   gap: 20px;
   width: 100%;
   animation: slide linear infinite;
}

.icone {
   border-radius: 10px;
   animation: greyScale linear infinite;
}

.iconebw {
   filter: var(--filter-primary) !important;
}
