.title {
   font-size: 5svw;
}

.subTitle {
   font-size: 4svw;
   margin-bottom: 50px;
}

.name {
   color: rgba(var(--text-secondary));
}

@media screen and (max-width: 750px) {
   .title {
      font-size: 6svw;
   }
   .subTitle {
      font-size: 5svw;
   }
}
