.container {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 50px;
}

.title {
   font-size: 5rem;
   line-height: 7rem;
}

.subTitle {
   font-size: 4rem;
}

.name {
   color: rgba(var(--text-secondary));
}

.test {
   text-transform: uppercase;
   font-size: x-large;
}
