.title {
   font-size: 5svw;
}

.subTitle {
   font-size: 4svw;
}

.name {
   color: rgba(var(--text-secondary));
}

.test {
   text-transform: uppercase;
   font-size: x-large;
}

@media screen and (max-width: 750px) {
   .title {
      font-size: 6svw;
   }
   .subTitle {
      font-size: 5svw;
   }
}
