.container {
   width: 50px;
   position: relative;
   flex-grow: 0;
   flex-shrink: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.nav {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
}

.link {
   width: 100%;
   text-align: center;
   padding: 5px 10px 5px 10px;
   text-transform: uppercase;
   font-weight: 500;
}

.link .navIcone {
   width: 30px;
   filter: var(--filter-primary);
}

.link:hover {
   color: rgba(var(--text-tertiary));
}

.link:hover .navIcone {
   filter: var(--filter-tertiary);
}

.navIconeContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 200ms;
}

.link:nth-child(odd):hover .navIconeContainer {
   rotate: 10deg;
   transition-duration: 400ms;
}

.link:nth-child(even):hover .navIconeContainer {
   rotate: -10deg;
   transition-duration: 400ms;
}

.isActive {
   border-radius: 0 5px 5px 0;
   background-color: rgba(var(--text-tertiary));
   color: rgba(var(--bg-primary)) !important;
}

.isActive .navIcone {
   filter: invert(7%) sepia(9%) saturate(17%) hue-rotate(11deg) brightness(107%)
      contrast(89%);
}

.isActive:hover .navIcone {
   filter: invert(7%) sepia(9%) saturate(17%) hue-rotate(11deg) brightness(107%)
      contrast(89%);
}

.settings {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 20px;
   gap: 10px;
}

.icone {
   width: 20px;
   filter: var(--filter-primary);
}

.icone:hover {
   filter: var(--filter-tertiary);
}
