.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.categoryContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.category {
   cursor: pointer;
   opacity: 0.8;
}

.category:hover {
   opacity: 1;
   filter: var(--filter-tertiary);
}

.icone {
   width: 30px;
   height: 30px;
   filter: var(--filter-primary);
}

.active {
   filter: var(--filter-tertiary);
}

.messageContainer {
   top: 40px;
   max-width: 80%;
   height: 0;
   overflow: hidden;
   transition-duration: 200ms;
   background: rgba(var(--bg-primary));
}

.message {
   padding: 10px;
   text-justify: auto;
   text-align: justify;
}

.openMessage {
   height: initial;
   box-shadow: rgba(var(--text-tertiary), 0.2) 0px 7px 29px 0px;
   transition-duration: 400ms;
}

@media screen and (max-width: 750px) {
   .categoryContainer {
      gap: 30px;
   }

   .category {
      font-size: 0.8rem;
   }
   .messageContainer {
      max-width: 100%;
   }
}
