.container {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.category {
   cursor: pointer;
   opacity: 0.8;
}

.category:hover {
   opacity: 1;
   filter: var(--filter-tertiary);
}

.icone {
   width: 30px;
   height: 30px;
   filter: var(--filter-primary);
}

.active {
   filter: var(--filter-tertiary);
}
