@keyframes opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}
.container {
   position: relative;
   flex-grow: 1;
   overflow: hidden;
}

.loremContainer {
   position: absolute;
   padding: 30px;
   width: 100%;
   height: 97svh;
   overflow: hidden;
   user-select: none;
   z-index: -1;
}

.mainContenair {
   width: 100%;
   display: flex;
   justify-content: center;
   opacity: 0;
   animation: opacity 1000ms 1000ms ease-in-out both;
   overflow-y: scroll;
   scrollbar-width: none;
}
