.container {
   width: 50px;
   padding: 20px 20px 20px 0;
   flex-grow: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.iconesContainer {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.icone {
   width: 30px;
   filter: var(--filter-primary);
}

.icone:hover {
   filter: var(--filter-tertiary);
}

.settingsIcone {
   width: 20px;
}

.mode {
   filter: var(--filter-primary);
}

.mode:hover {
   filter: var(--filter-tertiary);
}

.navIconeContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   transition-duration: 200ms;
}

.a:nth-child(odd):hover .navIconeContainer {
   rotate: 10deg;
   transition-duration: 400ms;
}

.a:nth-child(even):hover .navIconeContainer {
   rotate: -10deg;
   transition-duration: 400ms;
}

.settings {
   display: flex;
   align-items: center;
   justify-content: center;
}
