.container {
   flex-grow: 0;
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.iconesContainer {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.icone {
   width: 30px;
   filter: var(--filter-primary);
}

.icone:hover {
   filter: var(--filter-tertiary);
}
