@font-face {
   font-family: 'Martian_Mono';
   src: url('/font/martian_mono/MartianMono-VariableFont_wdth,wght.ttf');
}

@keyframes opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Martian_Mono', sans-serif;
}

:root {
   --text-primary: 235, 235, 235;
   --text-secondary: 29, 240, 255;
   --text-tertiary: 255, 29, 180;

   --img-darken: 32, 32, 32;

   --input: 235, 235, 235;

   --bg-primary: 32, 32, 32;

   --filter-primary: invert(100%) sepia(0%) saturate(7500%) hue-rotate(315deg)
      brightness(103%) contrast(102%);
   --filter-primary-darken: invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(315deg) brightness(50%) contrast(102%);
   --filter-secondary: invert(81%) sepia(39%) saturate(2649%) hue-rotate(143deg)
      brightness(101%) contrast(103%);
   --filter-tertiary: invert(29%) sepia(99%) saturate(4621%) hue-rotate(305deg)
      brightness(102%) contrast(102%);

   --opacity-duration: 400ms;
}

[data-theme='light'] {
   --text-primary: 32, 32, 32;
   --text-secondary: 255, 29, 180;
   --text-tertiary: 29, 240, 255;

   --img-darken: 235, 235, 235;

   --input: 235, 235, 235;

   --bg-primary: 215, 215, 215;

   --filter-primary: invert(10%) sepia(3%) saturate(0%) hue-rotate(17deg)
      brightness(95%) contrast(91%);
   --filter-primary-darken: invert(100%) sepia(0%) saturate(7500%)
      hue-rotate(315deg) brightness(50%) contrast(102%);
   --filter-secondary: invert(29%) sepia(99%) saturate(4621%) hue-rotate(305deg)
      brightness(102%) contrast(102%);
   --filter-tertiary: invert(81%) sepia(39%) saturate(2649%) hue-rotate(143deg)
      brightness(101%) contrast(103%);

   --opacity-duration: 400ms;
}

#root {
   display: flex;
}

body {
   color: #202020;
   color: rgba(var(--text-primary));
   background-color: rgb(var(--bg-primary));
   transition-duration: 300ms;
}

main {
   padding: 2rem;
   width: 100%;
   height: 100svh;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   scrollbar-width: none;
   /* scrollbar-color: rgba(var(--text-tertiary)) rgba(var(--text-tertiary)); */
   /* scrollbar-color: transparent transparent; */
}

main::-webkit-scrollbar {
   display: none;
}

a,
a:link,
a:visited,
a:active {
   text-decoration: none;
   color: inherit;
}

.langue {
   opacity: 0;
   transition: opacity 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fade {
   opacity: 1;
   transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.container {
   opacity: 0;
   animation: opacity var(--opacity-duration) ease-in-out both;
}
