@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Regular.ttf'), format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Bold.ttf'), format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Medium.ttf'), format('truetype');
   font-weight: 500;
   font-style: normal;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

:root {
   --text-primary: 255, 255, 255;
   --text-secondary: 29, 240, 255;
   --text-tertiary: 255, 29, 180;

   --bg-primary: 32, 32, 32;

   --filter-primary: invert(100%) sepia(0%) saturate(7500%) hue-rotate(315deg)
      brightness(103%) contrast(102%);
   --filter-secondary: invert(81%) sepia(39%) saturate(2649%) hue-rotate(143deg)
      brightness(101%) contrast(103%);
   --filter-tertiary: invert(29%) sepia(99%) saturate(4621%) hue-rotate(305deg)
      brightness(102%) contrast(102%);
}

#root {
   display: flex;
}

body {
   color: rgba(var(--text-primary));
   background-color: rgb(var(--bg-primary));
}

main {
   width: 100%;
   padding: 2rem;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
   scrollbar-width: thin;
   scrollbar-color: rgba(var(--text-tertiary)) rgba(var(--text-tertiary));
   background-color: rgba(var(--text-primary), 0.2);
}

a {
   text-decoration: none;
}

/* a:visited {
   color: rgba(var(--text-primary));
} */
