@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Regular.ttf'), format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Bold.ttf'), format('truetype');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Roboto';
   src: url('/font/Roboto-Medium.ttf'), format('truetype');
   font-weight: 500;
   font-style: normal;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Roboto', sans-serif;
}

:root {
   --primary-color: #5955b3;
   --secondary-color: #fff;
   --secondary-filter: brightness(0) invert(1);
   --tertiary-filter: invert(70%) sepia(88%) saturate(506%) hue-rotate(192deg)
      brightness(89%) contrast(83%);
   --tertiary-color: #9e9dd3;
}

#root {
   display: flex;
}

a {
   text-decoration: none;
}
