@keyframes opacity {
   from {
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.container {
   position: relative;
   height: 100svh;
   width: 100%;
   display: flex;
   opacity: 0;
   animation: opacity 1000ms ease-in-out both;
}

@media screen and (max-width: 750px) {
   .container {
      flex-direction: column;
   }
}
