.container {
   position: absolute;
   width: 100%;
   padding: 20px;
   display: flex;
   flex-direction: column;
   text-align: center;
   text-justify: auto;
   opacity: 0.08;
   user-select: none;
   text-transform: uppercase;
   z-index: -1;
}
