@keyframes gearRotate {
   from {
      rotate: 0deg;
   }
   to {
      rotate: 360deg;
   }
}

.container {
   overflow: hidden;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 15px;
}

.settingscontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   animation: ease-in 1ms 400ms both slideopacity;
}

.gearsContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

.gearsContainer:hover .middle {
   height: 70px;
   transition-delay: 200ms;
   transition-duration: 450ms;
}

.gearsContainer:hover .gear {
   animation: 3s linear infinite running gearRotate;
   filter: var(--filter-tertiary);
}

.gearsContainer:hover .settingsIcone {
   opacity: 1;
   transition-duration: 600ms;
   transition-delay: 500ms;
}

.middle {
   display: flex;
   align-items: center;
   height: 0;
   overflow: hidden;
   transition-duration: 500ms;
}

.settings {
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 15px;
}

.settingsIcone {
   cursor: pointer;
   width: 20px;
   opacity: 0;
   transition-duration: 300ms;
}

.gear {
   width: 20px;
   filter: var(--filter-primary);
}

.up,
.down {
   height: 10px;
   overflow: hidden;
}

.down .gear {
   translate: 0 -10px;
}

.flag {
   filter: opacity(0.8);
}

.flag:hover {
   filter: initial;
}

.moon {
   height: 20px;
   filter: var(--filter-primary);
}

.moon:hover {
   filter: var(--filter-tertiary);
}

@media screen and (max-width: 750px) {
   .container {
      width: 100%;
      flex-direction: initial;
   }

   .settingscontainer,
   .gearsContainer,
   .middle,
   .settings {
      flex-direction: initial;
   }

   .middle {
      height: initial;
      width: 0;
   }

   .gearsContainer {
      margin-left: 10px;
   }

   .gearsContainer:hover .middle {
      height: initial;
      padding: 0 10px;
      width: 80px;
   }

   .up,
   .down {
      width: 10px;
      height: 20px;
   }

   .down .gear {
      translate: -10px 0;
   }
}
